  /* Ensure the vertical scroll bar is always visible */
  body {
    overflow-y: scroll;
  }
  
  /* Style for the switch */
  .switch {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 3rem;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 2.5rem;
    width: 2.5rem;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 187, 0);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked + .slider {
    background-color: #ccc;
  }
  
  input[type="checkbox"]:checked + .slider:before {
    -webkit-transform: translateX(3rem);
    -ms-transform: translateX(3rem);
    transform: translateX(3rem);
  }
  
  .on .slider:before {
    background-color: #2196F3;
  }